<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">Device Logs</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <a href="/api/logs/delete_all" role="button" style="float: right;" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all logs?');">Delete All</a>
            <br><br>
            <table id="table" class="table table-{{style}} table-sm table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>UUID</th>
                    <th>Message</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('#header').css('color', 'white');
    }
    $(document).ready(function() {
        const table = $('#table').DataTable( {
            "ajax": {
                "url": "/api/logs",
                "dataSrc": "data.logs"
            },
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 50,
            "columns": [
                { "data": "date" },
                { "data": "uuid" },
                { "data": "message" },
                { "data": "buttons" }
            ],
            "info":     true,
            "order": [[ 0, "desc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [ {
                "targets": [3],
                "orderable": false
            }],
            "responsive": true,
            "processing": true
        });
        $('#table').on( 'draw.dt', function () {
            setTimeout( function () {
                table.ajax.reload(null, false);
            }, 5000);
        } );
    } );
</script>
