<style>
    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>
<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Configs}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <a href="/config/new" role="button" style="float: right;" class="btn btn-success">{{New Config}}</a>
            <br><br>
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                <tr>
                    <th class="all">{{Name}}</th>
                    <th class="all">{{Provider}}</th>
                    <th class="all">{{Backend}}</th>
                    <th class="min-desktop">{{Data Endpoints}}</th>
                    <th class="min-desktop">{{Token}}</th>
                    <th class="all">{{Devices}}</th>
                    <th class="all">{{Is Default}}</th>
                    <th class="all" width="5%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
    
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
    $(document).ready(function() {
        const table = $('#table').DataTable({
            "ajax": {
                "url": "/api/configs",
                "dataSrc": "data.configs",
                "async": true
            },
            "dom": "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                   "<'row'<'col-sm-12'tr>>" +
                   "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "fixedHeader": {
                "header": true,
                "headerOffset": $('.navbar').height() + 15
            },
            "buttons": [
                "colvis",
                "pageLength"
            ],
            "colReorder": true,
            "stateSave": true,
            "paging": true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "columns": [
                { "data": "name" },
                { "data": "provider" },
                { "data": "backend_url" },
                { "data": "data_endpoints" },
                { "data": "token" },
                { "data": "devices" },
                { "data": "is_default" },
                { "data": "buttons" }
            ],
            "info": true,
            "order": [[ 0, "asc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [ {
                "targets": [7],
                "orderable": false
            }],
            "responsive": true
        });
        $('#table').on( 'draw.dt', function() {
            setTimeout(function() {
                table.ajax.reload(null, false);
            }, 15 * 1000);
        });
    });

    function restart(config) {
        console.log("Restarting via client side:", config);
        $.ajax({
            url: '/api/devices/mass_action',
            type: 'POST',
            data: { 'type': 'restart_config', 'config': config },
            async: true,
            success: function(result, textStatus, jqXHR) {
                console.log('Action response:', result);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            }
        })
    }
    function sendMassAction(action) {
        $.ajax({
            url: '/api/devices/mass_action',
            type: 'POST',
            data: { 'type': action },
            async: true,
            success: function(result, textStatus, jqXHR) {
                console.log('Action response:', result);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            } 
        });
    }
</script>
