<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Delete Device Config}} {{name}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/config/delete/{{name}}" method="post">
                <div align="center">
                    <h3 id="message">{{Are you sure that you want to delete device config}} {{name}}?</h3>
                    <a href="/configs" id="cancel" name="cancel" class="btn btn-secondary">{{Cancel}}</a>
                    <button type="submit" class="btn btn-danger">{{Delete}}</button>
                </div>
                <br>
            </form>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }
</script>