<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">Assign Config to {{device}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/config/assign/{{device}}" method="post">
                <div class="form-group">
                    Select Device Config
                    <select class="form-control" name="config" required>
                        <option value="" {{#nothing_selected}}selected{{/nothing_selected}} disabled hidden>Choose a Config</option>
                        {{#configs}}
                            <option value="{{name}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                        {{/configs}}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Assign</button>
            </form>
        </div>
        <br>    
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }
</script>