<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{{name}}} {{Management}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th width="40%">{{Description}}</th>
                        <th width="40%">{{Action}}</th>
                        <th width="40%">{{Response}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Device IP Address</th>
                        <th><input id='client_ip' type="text" class="form-control" name="clientip" value="{{clientip}}"></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>{{Get Screenshot}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("screen")'>{{GET}}</button></th>
                        <th><img id='screen' src=''/></div></th>
                    </tr>
                    {{#kevin_selected}}
                    <tr>
                        <th>{{Get Current Location}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("loc")'>{{GET}}</button></th>
                        <th><div id='loc'></div></th>
                    </tr>
                    <tr>
                        <th>{{Get Current Config Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("config")'>{{GET}}</button></th>
                        <th><div id='config'></div></th>
                    </tr>
                    {{/kevin_selected}}
                    <tr>
                        <th>{{Get Current Account Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("account")'>{{GET}}</button></th>
                        <th><div id='account'></div></th>
                    </tr>
                    {{#kevin_selected}}
                    <tr>
                        <th>{{Get System Information Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("system_info")'>{{GET}}</button></th>
                        <th><div id='system_info'></div></th>
                    </tr>
                    {{/kevin_selected}}
                    <tr>
                        <th>{{Restart Game}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("restart")'>{{RESTART}}</button></th>
                        <th><div id='restart'></div></th>
                    </tr>
                    <tr>
                        <th>{{Reboot Device}}</th>
                        <th><button type='button' class='btn btn-success' onclick='reboot("{{{listeners}}}", "{{name}}", "{{exclude_reboots}}")'>{{REBOOT}}</button></th>
                        <th><div id='reboot'></div></th>
                    </tr>
                        <th>{{Brightness}}</th>
                        <!--<form action="http://{{clientip}}:{{webserver_port}}/brightness?value=100" method="post">-->
                        <th>
                            <input type="range" min="0" max="100" value="50" class="slider" onchange="sendBrightness(this);" id="brightness">
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>{{Device Logs}}</th>
                        <th><a href='/device/logs/{{name}}' type='button' class='btn btn-success'>{{VIEW}}</a></th>
                        <th><div id='logs'></div></th>
                    </tr>
                    {{#kevin_selected}}
                    <tr>
                        <th>{{Send Data for Testing}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{webserver_port}}/data" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="data_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='data'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Pixel Check Location}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{webserver_port}}/pixel" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="pixel_text" placeholder="{ 'x': 320, 'y': 320 }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='pixel'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Touch Location}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{webserver_port}}/touch" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="touch_text" placeholder="{ 'x': 160, 'y': 160 }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='touch'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Typing Data}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{webserver_port}}/type" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="type_text" placeholder="{ 'text': 'User123' }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='type'></div></th>
                    </tr>
                    {{/kevin_selected}}
                    <tr>
                        <th>{{Delete Device}}</th>
                        <th><button type='button' class='btn btn-danger'><a href='/device/delete/{{{name}}}'>{{DELETE}}</a></button></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script type='text/javascript' src='/js/device.js'></script>
<script type='text/javascript'>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }

    function get(id) {
        const clientip = $('#client_ip').val();
        const url = `http://${clientip}:{{webserver_port}}/${id}`;
        const uuid = '{{uuid}}';
        const isScreen = url.includes('/screen');
        const isRestart = url.includes('/restart');
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.overrideMimeType('text/plain; charset=x-user-defined');
            },
            dataType: (isScreen || isRestart) ? null : 'json',
            async: true,
            success: function (result, textStatus, jqXHR) {
                if (isScreen) {
                    if (result.length < 1) {
                        $('#' + id).attr('src', 'data:image/png;base64,');
                        return;
                    }
                    let binary = "";
                    const responseText = jqXHR.responseText;
                    const responseTextLen = responseText.length;
                    for (let i = 0; i < responseTextLen; i++ ) {
                        binary += String.fromCharCode(responseText.charCodeAt(i) & 255)
                    }
                    $('#' + id).attr('src', 'data:image/png;base64,' + btoa(binary));
                    $('#' + id).attr('width', 'auto');
                    $('#' + id).attr('height', 128);
                    sendImageData(id, binary);
                } else if (url.includes('/account')) {
                    let text = '';
                    if (result.username) {
                        text += 'Username: ' + result.username;
                    }
                    if (result.password) {
                        text += '\nPassword: ' + result.password;
                    }
                    $('#' + id).text(text);
                } else if (isRestart) {
                    $('#' + id).text('Restarted');
                } else {
                    $('#' + id).text(JSON.stringify(result, null, 2));
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#' + id).text('Error');
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            } 
        });
    }

    function sendBrightness(brightnessElement) {
        const clientip = $('#client_ip').val();
        const brightness = $('#brightness').val();
        const url = `http://${clientip}:{{webserver_port}}/brightness?value=${brightness}`;
        console.log('brightness:', url);
        $.ajax({
            url: url,
            type: 'POST',
            async: true,
            success: function (result, textStatus, jqXHR) {
                //$('#' + id).text(text);
            },
            error: function(xhr, textStatus, errorThrown) {
                //$('#' + id).text('Error');
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            } 
        });
    }

    function sendImageData(id, imageData) {
        $.ajax({
            url: '/api/device/screen/{{name}}',
            type: 'POST',
            dataType: 'json',
            data: { body: btoa(imageData) },
            async: true,
            success: function(result, textStatus, jqXHR) {
                console.log("Screenshot sent:", result);
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#' + id).text('Error');
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            }
        });
    }
</script>
