<style>
    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>
<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{{uuid}}} {{Device Logs}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <a href="/api/log/delete/{{uuid}}" role="button" style="float: right;" class="btn btn-danger" onclick="return confirm('{{Are you sure you want to delete all logs for}} {{uuid}}?');">{{Delete All}}</a>
            <a href="#" role="button" style="float: right;" class="btn btn-primary" onclick="exportLogs()">{{Export All}}</a>
            <br><br>
            <table id="table" class="table table-{{style}} table-sm table-striped table-bordered table-hover nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>{{Date}}</th>
                    <th>{{Message}}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script type="text/javascript" src="/js/downloader.js"></script>
<script type="text/javascript">
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
    $(document).ready(function() {
        const table = $('#table').DataTable( {
            "ajax": {
                "url": "/api/logs/{{uuid}}",
                "dataSrc": "data.logs",
                "async": true
            },
            "dom": "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                   "<'row'<'col-sm-12'tr>>" +
                   "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "fixedHeader": {
                "header": true,
                "headerOffset": $('.navbar').height() + 15
            },
            "buttons": [
                "colvis",
                "pageLength"
            ],
            "colReorder": true,
            "stateSave": true,
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 100,
            "columns": [
                { "data": "date" },
                { "data": "message" }
            ],
            "info": true,
            "order": [[ 0, "desc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [ {
                "targets": [1],
                "orderable": false
            }]
        });
        $('#table').on( 'draw.dt', function () {
            setTimeout( function () {
                table.ajax.reload(null, false);
            }, 5000);
        } );
    });

    function exportLogs() {
        $.ajax({
            url: '/api/log/export/{{uuid}}',
            type: 'GET',
            success: function(data, textStatus, jqXHR) {
                downloader(data, 'html/text', '{{uuid}}.log');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("ERROR:", textStatus);
                console.error("ERROR THROWN:", errorThrown);
            }
        });
    }
</script>
