<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Devices}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
            <a href="/device/new" role="button" style="float: right;" class="btn btn-success">{{New Device}}</a>
            <br><br>
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>{{Preview}}</th>
                    <th>{{UUID}}</th>
                    <th>{{Config}}</th>
                    <th>{{iOS Version}}</th>
                    <th>{{IPA Version}}</th>
                    <th>{{Last Config}}</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }
    $(document).ready(function() {
        const table = $('#table').DataTable( {
            "ajax": {
                "url": "/api/devices",
                "dataSrc": "data.devices"
            },
            "paging":   true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 100,
            "columns": [
                { "data": "image" },
                { "data": "uuid" },
                { "data": "config" },
                { "data": "ios_version" },
                { "data": "ipa_version" },
                { "data": "last_seen" },
                { "data": "buttons" },
            ],
            "info": true,
            "order": [[ 1, "asc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [ {
                "targets": [6],
                "orderable": false
            }],
            "responsive": true
        });
        table.on('draw.dt', function() {
            setTimeout(function () {
                table.ajax.reload(null, false);
            }, 5000);
        });
    });
</script>
