<style>
    table.dataTable tbody td {
        vertical-align: middle;
    }
</style>
<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Devices}}</h1>
        <br>
        <div style="width:90%; margin-left:calc(5%);">
			<div class="row">
                <div class="col">
                    Preview Size
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" value="32" onchange="changePreviewSize(this)" autocomplete="off"> S
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" value="64" onchange="changePreviewSize(this)" autocomplete="off"> M
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" value="96" onchange="changePreviewSize(this)" autocomplete="off"> L
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="size" value="144" onchange="changePreviewSize(this)" autocomplete="off"> XL
                        </label>
                    </div>
                </div>
                <div class="col">
					<div class="btn-group" role="group" style="float: right;">
						<button id="actionsDropdown" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Actions
						</button>
						<div class="dropdown-menu" aria-labelledby="actionsDropdown">
							<a class="dropdown-item" href="/device/new">{{New Device}}</a>
							<button type='button' class="dropdown-item" onclick='sendMassAction("screenshot")'>{{Get All Screenshots}}</button>
							<button type='button' class="dropdown-item" onclick='sendMassAction("restart")'>{{Restart All Devices}}</button>
							<!--
							<div class="dropdown-divider"></div>
							<div class="form-check dropdown-item">
								<input type="checkbox" class="form-check-input" data-toggle="toggle" onchange="onCheckChanged(this)" checked>
								<label class="form-check-label" for="show_screenshots">Show Screenshots</label>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
            <br><br>
			
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                <tr>
                    <th>{{Preview}}</th>
                    <th>{{UUID}}</th>
                    <th>{{Config}}</th>
                    <th>{{iOS Version}}</th>
                    <th>{{IPA Version}}</th>
                    <th>{{Last Config}}</th>
                    <th>{{Notes}}</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <br>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
	function changePreviewSize(size){
		// Get Images by Class
        $('.deviceImage').width(size.value);
		localStorage.setItem('previewSize', size.value);
	}
    $(document).ready(function() {
        //Localstorage for imagePreview
		let previewSize = localStorage.getItem('previewSize') !== null ? localStorage.getItem('previewSize') : '96';
		if (localStorage.getItem('previewSize') == null){
            localStorage.setItem('previewSize', '96');
		}
        $("input[name='size'][value='" + previewSize + "']").parent().button('toggle');
		const query = `?previewSize=${previewSize}`;
        const table = $('#table').DataTable( {
            "ajax": {
                "url": "/api/devices" + query,
                "dataSrc": "data.devices",
                "async": true
            },
            //"dom": "Bfrtip",
            // Reference: https://stackoverflow.com/a/43176143
            /*
            "dom": "<'row'<'col-sm-8'B><'col-sm-4'f>t>" +
                   "<'row'<'col-sm-4'li><'col-sm-8'p>>",
            */
            "dom": "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                   "<'row'<'col-sm-12'tr>>" +
                   "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "fixedHeader": {
                "header": true,
                "headerOffset": $('.navbar').height() + 15
            },
            "buttons": [
                "colvis",
                "pageLength"
            ],
            "colReorder": true,
            "stateSave": true,
            "paging": true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 100,
            "lengthChange": false,
            "columns": [
                { "data": "image" },
                { "data": "uuid" },
                { "data": "config" },
                { "data": "ios_version" },
                { "data": "ipa_version" },
                { "data": "last_seen" },
                { "data": "notes" },
                { "data": "buttons" },
            ],
            "info": true,
            "order": [[ 1, "asc" ]],
            "search.caseInsensitive": true,
            "columnDefs": [{
                "targets": [7],
                "orderable": false
            }],
            "responsive": true
        });
        table.on('draw.dt', function() {
            setTimeout(function () {
				// On Reload, get the actual preview Size to keep it
		        previewSize = localStorage.getItem('previewSize') !== null ? localStorage.getItem('previewSize') : '96';
		        query = `?previewSize=${previewSize}`;
				table.ajax.url('/api/devices' + query).load();
            }, 30 * 1000);
        });
    });
    function sendMassAction(action) {
        $.ajax({
            url: '/api/devices/mass_action',
            type: 'POST',
            data: { 'type': action },
            async: true,
            success: function(result, textStatus, jqXHR) {
                console.log('Action response:', result);
            },
            error: function(xhr, textStatus, errorThrown) {
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            } 
        });
    }
    /*
    function onCheckChanged(checkbox) {
        const checked = checkbox.checked;
        if (checked) {
            // TODO: Show screenshots
        } else {
            // TODO: Show icons
        }
    }
    */
    //const buttons = document.getElementsByClassName('buttons-colvis')[0].innerText = 'Columns';
    //$('.buttons-colvis').children()[0].text('Columns');
</script>
