<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{name}} {{Management}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th width="40%">{{Description}}</th>
                        <th width="40%">{{Action}}</th>
                        <th width="40%">{{Response}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{Get Screenshot}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/screen", "screenshot")'>{{GET}}</button></th>
                        <th><img id='screenshot' src=''/></div></th>
                    </tr>
                    <tr>
                        <th>{{Get Current Location}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/loc", "location")'>{{GET}}</button></th>
                        <th><div id='location'></div></th>
                    </tr>
                    <tr>
                        <th>{{Get Current Config Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/config", "config")'>{{GET}}</button></th>
                        <th><div id='config'></div></th>
                    </tr>
                    <tr>
                        <th>{{Get Current Account Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/account", "account")'>{{GET}}</button></th>
                        <th><div id='account'></div></th>
                    </tr>
                    <tr>
                        <th>{{Get System Information Data}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/system_info", "system_info")'>{{GET}}</button></th>
                        <th><div id='system_info'></div></th>
                    </tr>
                    <tr>
                        <th>{{Restart Game}}</th>
                        <th><button type='button' class='btn btn-success' onclick='get("http://{{clientip}}:8080/restart", "restart")'>{{RESTART}}</button></th>
                        <th><div id='restart'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Data for Testing}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:8080/data" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="data_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='data'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Pixel Check Location}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:8080/pixel" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="pixel_text" placeholder="{ 'x': 320, 'y': 320 }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='pixel'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Touch Location}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:8080/touch" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="touch_text" placeholder="{ 'x': 160, 'y': 160 }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='touch'></div></th>
                    </tr>
                    <tr>
                        <th>{{Send Typing Data}} (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:8080/type" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="type_text" placeholder="{ 'text': 'User123' }">
                                </div>
                                <button type='submit' class='btn btn-danger'>{{SEND}}</button>
                            </form>
                        </th>
                        <th><div id='type'></div></th>
                    </tr>
                    <tr>
                        <th>{{Delete Device}}</th>
                        <th><button type='button' class='btn btn-danger'><a href='/device/delete/{{name}}'>{{DELETE}}</a></button></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }

    function get(url, id) {
        var uuid = '{{uuid}}';
        var isScreen = url.includes('/screen');
        var isRestart = url.includes('/restart');
        $.ajax({
            url: url,
            type: 'GET',
            beforeSend: function (xhr) {
                xhr.overrideMimeType('text/plain; charset=x-user-defined');
            },
            dataType: (isScreen || isRestart) ? null : 'json',
            async: true,
            success: function (result, textStatus, jqXHR) {
                console.log("Url:", url);
                if (isScreen) {
                    if (result.length < 1) {
                        $('#' + id).attr('src', 'data:image/png;base64,');
                        return;
                    }
                    var binary = "";
                    var responseText = jqXHR.responseText;
                    var responseTextLen = responseText.length;
                    for ( i = 0; i < responseTextLen; i++ ) {
                        binary += String.fromCharCode(responseText.charCodeAt(i) & 255)
                    }
                    $('#' + id).attr('src', 'data:image/png;base64,' + btoa(binary));
                    $('#' + id).attr('width', 84);
                    $('#' + id).attr('height', 128);
                    sendImageData(id, binary);
                } else if (url.includes('/account')) {
                    var text = '';
                    if (result.username) {
                        text += 'Username: ' + result.username;
                    }
                    if (result.password) {
                        text += '\nPassword: ' + result.password;
                    }
                    $('#' + id).text(text);
                } else if (isRestart) {
                    $('#' + id).text('Restarted');
                } else {
                    $('#' + id).text(JSON.stringify(result, null, 2));
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#' + id).text('Error');
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            } 
        });
    }

    function sendImageData(id, imageData) {
        $.ajax({
            url: '/api/device/screen/{{name}}',
            type: 'POST',
            data: { data: btoa(imageData) },
            async: true,
            success: function(result, textStatus, jqXHR) {
                console.log("Screenshot sent:", result);
            },
            error: function(xhr, textStatus, errorThrown) {
                $('#' + id).text('Error');
                console.error('Error:', textStatus);
                console.error('Error Thrown:', errorThrown);
            }
        });
    }
</script>
