<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{name}} Management</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th width="40%">Description</th>
                        <th width="40%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Get Current Location</th>
                        <th><a href='http://{{clientip}}:{{port}}/loc'><button type='button' class='btn btn-success'>GET</button></a></th>
                    </tr>
                    <tr>
                        <th>Clear Current Config</th>
                        <th><a href='http://{{clientip}}:{{port}}/clear'><button type='button' class='btn btn-danger'>CLEAR</button></a></th>
                    </tr>
                    <tr>
                        <th>Get Current Config Data</th>
                        <th><a href='http://{{clientip}}:{{port}}/config'><button type='button' class='btn btn-success'>GET</button></a></th>
                    </tr>
                    <tr>
                        <th>Get Current Account Data</th>
                        <th><a href='http://{{clientip}}:{{port}}/account'><button type='button' class='btn btn-success'>GET</button></a></th>
                    </tr>
                    <tr>
                        <th>Restart Game</th>
                        <th><a href='http://{{clientip}}:{{port}}/restart'><button type='button' class='btn btn-danger'>RESTART</button></a></th>
                    </tr>
                    <tr>
                        <th>Reboot Device (WIP currently restarts the game)</th>
                        <th><a href='http://{{clientip}}:{{port}}/reboot'><button type='button' class='btn btn-danger'>REBOOT</button></a></th>
                    </tr>
                    <tr>
                        <th>Send Data for Testing (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{port}}/data" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="data_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>SEND</button>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th>Send Pixel Check Location (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{port}}/pixel" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="pixel_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>SEND</button>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th>Send Touch Location (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{port}}/touch" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="touch_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>SEND</button>
                            </form>
                        </th>
                    </tr>
                    <tr>
                        <th>Send Typing Data (WIP)</th>
                        <th>
                            <form action="http://{{clientip}}:{{port}}/type" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="type_text" placeholder="{}">
                                </div>
                                <button type='submit' class='btn btn-danger'>SEND</button>
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }
</script>
