<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{title}} {{version}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <div class="card text-center p-1 m-3">
                <div class="card-header bg-dark text-light text-center"><b>{{Overview}}</b></div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="list-group">
                                    <a class="list-group-item" href="/devices">
                                        <h3 class="pull-right"><img src="./img/device.png" width="auto" height="64" class="darkInvert"/></h3>
                                        <h4 class="list-group-item-heading text-light">{{devices}}</h4>
                                        <p class="list-group-item-text text-light">{{Devices}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-group">
                                    <a class="list-group-item" href="/configs">
                                        <h3 class="pull-right"><img src="./img/config.png" width="auto" height="64" class="darkInvert"/></h3>
                                        <h4 class="list-group-item-heading text-light">{{configs}}</h4>
                                        <p class="list-group-item-text text-light">{{Configs}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-group">
                                    <a class="list-group-item" href="/schedules">
                                        <h3 class="pull-right"><img src="./img/schedule.png" width="auto" height="64" class="darkInvert"/></h3>
                                        <h4 class="list-group-item-heading text-light">{{schedules}}</h4>
                                        <p class="list-group-item-text text-light">{{Schedules}}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="list-group">
                                    <a class="list-group-item">
                                        <h3 class="pull-right"><img src="./img/logs.png" width="auto" height="64" class="darkInvert"/></h3>
                                        <h4 class="list-group-item-heading">{{logs_size}}</h4>
                                        <p class="list-group-item-text">{{Total Log Size}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-center p-1 m-3">
                <div class="card-header bg-dark text-light text-center"><b>Device Status (Last 15 Minutes)</b></div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="list-group">
                                    <a class="list-group-item">
                                        <h3 class="pull-right"><img src="./img/online.png" width="auto" height="64"/></h3>
                                        <h4 class="list-group-item-heading">{{devices_online_count}}</h4>
                                        <p class="list-group-item-text">Online</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="list-group">
                                    <a class="list-group-item">
                                        <h3 class="pull-right"><img src="./img/offline.png" width="auto" height="64"/></h3>
                                        <h4 class="list-group-item-heading">{{devices_offline_count}}</h4>
                                        <p class="list-group-item-text">Offline</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-dark text-light text-center"><b>Offline Devices</b></div>
                <div class="card-body">
                    <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                        <thead class="thead-dark">
                        <tr>
                            <th>{{Name}}</th>
                            <th>{{Config}}</th>
                            <th>{{Last Config}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#devices_offline}}
                            <tr>
                                <td>{{{uuid}}}</td>
                                <td>{{config}}</td>
                                <td>{{last_seen}}</td>
                                <td>{{buttons}}</td>
                            </tr>
                        {{/devices_offline}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card text-center p-1 m-3">
                <div class="card-header bg-dark text-light text-center"><b>{{Metadata}}</b></div>
                <div class="card-body">
                    <table id="table" class="table table-{{style}} table-striped table-bordered table-hover dt-responsive nowrap" style="position: center; width:100%">
                        <thead class="thead-dark">
                        <tr>
                            <th>{{Name}}</th>
                            <th>{{Value}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#metadata}}
                            <tr>
                                <td>{{key}}</td>
                                <td>{{value}}</td>
                            </tr>
                        {{/metadata}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        //$('body').css('color', 'rgb(255, 255, 255)');
        $('#header').css('color', 'white');
        $('.card').css('background-color', '#1a1a1a');
        $('.list-group-item').css('background-color', 'rgb(33, 37, 41)');
        $('.list-group-item').css('border-color', 'white');
        $('.darkInvert').css('filter', 'invert(100%)');
		$('.card-body').css('color', 'white')
    }
    $(document).ready(function() {
        const table = $('#table').DataTable({
            "paging": false,
            "info": false,
            "order": [[ 0, "asc" ]],
            "searching": false,
            "responsive": true
        });
    });
</script>