<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">Login</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/login" method="post">
                <div class="form-group">
                    Username
                    <input type="text" class="form-control" name="username" value="" placeholder="" required>
                </div>
                <div class="form-group">
                    Password
                    <input type="password" class="form-control" name="password" value="" placeholder="" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
        //$('#header').css('color', 'white');
    }
</script>