<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <!--<img src="./static/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
      {{title}}
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    {{#logged_in}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-fw fa-tachometer" aria-hidden="true"></i>&nbsp;Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devices"><i class="fa fa-fw fa-dot-circle-o" aria-hidden="true"></i>&nbsp;Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/configs"><i class="fa fa-fw fa-bolt" aria-hidden="true"></i>&nbsp;Configs</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#username}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/account">Profile</a>
          <a class="dropdown-item" href="/settings"></i>Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {{/username}}
    </ul>
    {{/logged_in}}
  </div>
</nav>
<br>
<br>

<script>
    $(document).ready(function() {
          // Get current URL path and assign 'active' class
        var pathname = window.location.pathname;
        $('#navbar > ul > li > a[href="'+pathname+'"]').parent().addClass('active');
    });
</script>