<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Create Account}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <form action="/api/register" method="post">
                <div class="form-group">
                    {{Username}}
                    <input type="text" class="form-control" name="username" value="root" required>
                </div>
                <div class="form-group">
                    {{Password}}
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    {{Confirm Password}}
                    <input type="password" class="form-control" name="password2" required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">{{Register}}</button>
                <br>
            </form>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
</script>