<!DOCTYPE html="{{locale}}">
    {{> header}}
    <body>
        {{> navbar}}
        <br>
        <h1 align="center" id="header">{{Utilities}}</h1>
        <br>
        <div class="w-75" style="float: none; margin: 0 auto;">
            <div class="card bg-dark p-1 m-3">
                <div class="card-body">
                    <div class="container text-center">
                        <button type="submit" class="btn btn-danger"><a href="/api/logs/delete_all" class="text-light" onclick="return confirm('Are you sure you want to delete all device logs?');">{{Delete All Logs}}</a></button>
                        &nbsp;
                        <button type="submit" class="btn btn-warning"><a href="/api/utilities/clear_device_ips" class="text-light" onclick="return confirm('Are you sure you want to clear all device IP addresses?');">{{Clear Device IP Addresses}}</a></button>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </body>
</html>

<script>
    if ("{{style}}" === 'dark') {
        $('body').css('background-color', 'rgb(33, 37, 41)');
        $('body').css('color', 'rgb(255, 255, 255)');
    }
</script>